body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.container {
    background: #b0d6e3;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align:center;
    width: 300px; 
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0300005a;
}

button, input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #030101;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #4f869a;
}
